asgiref==3.7.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
coverage==7.3.2
cryptography==41.0.5
Django==4.2.7
django-extensions==3.2.3
django-guardian==2.4.0
markdown-it-py==3.0.0
mdurl==0.1.2
pycparser==2.21
Pygments==2.17.1
PyJWT==2.8.0
python-dotenv==1.0.0
rich==13.7.0
shellingham==1.5.4
sqlparse==0.4.4
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
